<div id="login-footer">
	<div id="login-copy" class="login-bkmk-on">
	    <span class="neo-copyright-year">Copyright (C)</span> TASVN All Rights Reserved. 
	</div><!-- #login-copy -->
    <div id="login-bm" class="login-bkmk-on">
        <div class="login-category solo">
		    <div class="login-category-in" style="width: auto;">
		    	<a href="/" target="link1">ホームページ</a>
		    </div>
		</div>
    </div><!-- #login-bm -->
</div><!-- #login-footer -->
