{{#section 'shead'}}
    <!-- stuff that goes in head...example: -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/info.css">
   	<link type="text/css" rel="stylesheet" href="/stylesheets/footerHistory.css">
   	<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
{{/section}}
<div id="dn-header" style="background:#0157AD url(/images/com/dn-header_back.jpg) 0 100% repeat-x;">
	<li id="dn-h-logo" style="color: white !important; font-size: 30px !important; padding-top: 5px !important;">給与明細システム</li>
</div><!-- #dn-header -->
<div id="dn-body" class="dn-main-menu co-menu-container" style="height: 100%; padding-left: 0px !important; padding-top: 20px !important;">
	<div id="dn-main-wrap" class="co-menu-main-pane">
    	<div id="dn-main" style="padding-top: 30px !important;">
      		<div class="co-m-header">
	    		<h2 class="co-m-title"><span class="creport-m-title">PW Change</span></h2>
      		</div><!-- #co-m-header -->      
	  		<div class="co-m-content info-m-content">
        		<div id="jco-m-list-container" class="jco-page" style="display: block;">
          			<form action="#" method="post" name="listfrm" id="listfrm">
            			<div class="co-listview co-list-selfolder selmulti ui-layout-container" style="min-height: 350px !important; overflow: hidden; position: relative;">
			                <div style="position:relative; left:20%; padding-top: 50px;">
								<table>
									<tr>
										<th class="control-label" style="width:180px; padding-right: 10px !important; clear:left; text-align:right;  float:left;">Now PW:</th>
										<td>
											<input type="text" id="now_pw" style="width: 200px;" style="padding-right: 10px !important;"/><br/>
										</td>
									</tr>
									<tr style="padding-top: 10px !important;">
										<th class="control-label" style="width:180px; padding-right: 10px !important; clear:left; text-align:right; float:left; padding-top: 10px !important;">New PW :</th>
										<td style="padding-top: 10px !important;">
											<input type="text" id="new_pw" style="width: 200px;" style="padding-right: 10px !important;"/><br/>
										</td>
									</tr>
									<tr style="padding-top: 10px !important;">
										<th class="control-label" style="width:180px; padding-right: 10px !important; clear:left; text-align:right; float:left; padding-top: 10px !important;">Repeat New PW :</th>
										<td style="padding-top: 10px !important;">
											<input type="text" id="repeat_pw" style="width: 200px;" style="padding-right: 10px !important;"/><br/>
										</td>
									</tr>
								</table>
							</div>
				    	</div>
					</form>
				</div>
			</div>      
			<div style="padding-top: 20px;">
				<input id="cancelBtn" type="button" name="button_cancel" value="Cancel" style="width: 80px;">
				<input id="okBtn" type="button" name="button_ok" value="OK" style="width: 80px;">
			</div>
		</div><!-- #dn-main -->
	</div><!-- #dn-main-wrap -->
</div><!-- #dn-body -->
<div id="login-footer">
	<div id="login-copy" class="login-bkmk-on">
	    <span class="neo-copyright-year">Copyright (C)</span> TAS Viet Nam All Rights Reserved. 
	</div><!-- #login-copy -->
    <div id="login-bm" class="login-bkmk-on">
        <div class="login-category solo">
		    <div class="login-category-in" style="width: auto;">
		    	<a href="#" target="link1">会社ホームページ</a>
		    </div>
		</div>
    </div><!-- #login-bm -->
</div><!-- #login-footer -->
